header {
		margin: 0;
		padding: 0 1em;
		background: #181926;
		box-shadow: 0 2px 8px rgba(var(--gray), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	/* Standar Ikon Sosial */
.social-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition: color 0.2s ease, transform 0.2s ease;
}